<!DOCTYPE html> 
<html>
<head>
 <style>
  body {
    font-size: 20px;
    font-family: Arial, sans-serif;
  }
  input, select, textarea, button {
    font-size: 18px;
    padding: 10px;
  }
  table {
    font-size: 18px;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px 15px;
  }
</style>

 
  <title>OPR</title>
</head>
<body>
  <h1 style="text-align: center;">Operational Performance Report</h1>

  <h2>Most Common Reasons</h2>
  <ul>
    {% for reason, count in reasons.items() %}
      <li>{{ reason }}: {{ count }}</li>
    {% endfor %}
  </ul>

  <h2>All Andon Presses</h2>
  <table border="1" style="margin: auto;">
    <tr>
      <th>Reason</th>
      <th>Name</th>
      <th>Time Stopped (min)</th>
      <th>Timestamp</th>
    </tr>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.reason }}</td>
      <td>{{ entry.name }}</td>
      <td>{{ entry.stopped_time }}</td>
      <td>{{ entry.timestamp }}</td>
    </tr>
    {% endfor %}
  </table>

  <br>

  <center>
    <table>
      <tr>
        <td>
          <form method="POST" action="/reset">
            <button type="submit">Reset All Andons</button>
          </form>
        </td>
        <td>
          <form method="GET" action="/download">
            <button type="submit">Download Data</button>
          </form>
        </td>
        <td>
          <form action="/">
            <button type="submit">Back</button>
          </form>
        </td>
      </tr>
    </table>
  </center>
</body>
</html>


