<!DOCTYPE html>
<html>
<head>
  <title>OPR</title>
</head>
  <form method="POST" action="/reset">
  <button type="submit">Reset All Andons</button>
</form>
<form method="GET" action="/download"> <button type="submit">Download Data</button> </form>
<body>
  <h1>Operational Performance Report</h1>

  <h2>Most Common Reasons</h2>
  <ul>
    {% for reason, count in reasons.items() %}
      <li>{{ reason }}: {{ count }}</li>
    {% endfor %}
  </ul>

  <h2>All Andon Presses</h2>
 <table border="1">
  <tr>
    <th>Reason</th>
    <th>Name</th>
    <th>Time Stopped (min)</th>
    <th>Timestamp</th>
  </tr>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.reason }}</td>
      <td>{{ entry.name }}</td>
      <td>{{ entry.stopped_time }}</td>
      <td>{{ entry.timestamp }}</td>
    </tr>
  {% endfor %}
</table>


  <br>
  <a href="/">Back</a>
</body>
</html>
